<!DOCTYPE html>
<html>
	<head>
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title> Home </title>
	{% endif %}
	</head>
	<body>
		<div>
		<h1> Welcome {{name}}, here are top destinations!</h1>
		<a href='www.google.com'> Goooogle </a>
		</div>
		{% if top_cities %}
		<ul>
			{% for city in top_cities %}
			{% if city %}
			<li> {{city}} </li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</body>
	{% block content %}
	<h1>Enter New City </h1>
	
	<form method="POST" novalidate>
		{{ form.hidden_tag() }}

		<p> {{form.city_name.label}} <br>
		{{form.city_name(size=32)}} </p>
		
		<p> {{form.city_rank.label}} <br>
		{{form.city_rank(size=32)}} </p>

		<p> {{form.is_visited.label}} <br>
		{{form.is_visited()}} </p>

		<p> {{form.submit()}} </p>
	</form>		

	 {% endblock %}		 
</html>
